/* General Styles */

:root {
  --surface-color: #fff;
  --curve: 40;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  background-color: #fff;
}

.container {
  width: 100%;
  margin: 0 auto;
}

/* Header */
.header {
  background-color: #ffffff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header .logo-container {
  display: flex;
  align-items: center;
}

.header .logo {
  height: 60px;
  width: auto;
}

.header .contact-info {
  display: flex;
  align-items: center;
}

.contact-info .phone-number {
  background: linear-gradient(45deg, #ff7e5f, #feb47b);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  transition: background 0.3s ease;
}

.contact-info .phone-number:hover {
  background: linear-gradient(45deg, #feb47b, #ff7e5f);
}

/* Navigation */
.nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
  font-size: 18px;
  flex-wrap: wrap;
  background-color: #ffffff;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.nav .nav-link {
  position: relative;
  color: #000;
  text-decoration: none;
  padding: 10px 15px;
  transition: color 0.3s ease;
}

.nav .nav-link:hover {
  color: #ff7e5f;
}

.nav .nav-link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff7e5f;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav .nav-link:hover::before {
  transform: scaleX(1);
}

/* Landing CSS */
.main-content {
  display: flex;
  gap: 30px;
  padding: 20px 0;
  flex-wrap: wrap;
  margin-right: 30px;
  margin-left: 30px;
}
.main-content .text-section {
  flex: 1;
  min-width: 300px;
}
.main-content .text-section h1 {
  font-size: 42px;
  color: #333;
}

.main-content .text-section h1 .highlighted-text {
  background-image: linear-gradient(45deg, #ff7e5f, #feb47b);
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-weight: bold;
}
.main-content .text-section p {
  font-size: 18px;
  color: #333;
  text-align: justify;
}
.main-content .text-section .contact-btn {
  background-color: #6b7280;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
}
.main-content img {
  max-width: 100%;
  border-radius: 20px;
}
.contact-btn {
  background-color: #eb955e !important;
  color: white;
  padding: 10px 20px !important;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
}

.contact-btn:hover {
  background: linear-gradient(45deg, #feb47b, #ff7e5f);
}

/* About us  */

.about-section {
  padding-bottom: 50px;
}
.about-section h2,
.services-section h2,
.contact-section h2,
.why-container h2,
.review-cards h2,
.contact-form h2 {
  font-size: 42px;
  text-align: center;
  color: #333;
}
.about-section p {
  font-size: 18px;
  text-align: center;
  color: #333;
  max-width: 900px;
  margin: 0 auto;
}
.about-section .stats {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}
.stat h3 {
  color: #eb955e !important;
}
.stat h3:hover {
  text-shadow: #eb955e;
}
.about-section .stats .stat {
  text-align: center;
  flex: 1;
  min-width: 50px;
}
.about-section .stats .stat h3 {
  font-size: 24px;
  color: #333;
}
.about-section .stats .stat p {
  font-size: 16px;
  color: #777;
}

/* Clients Logo Banner Section */
.clients-logo-banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  background-color: #fff;
}

.client-logo img {
  max-width: 100px; /* Adjust the max-width as needed */
  max-height: 60px; /* Adjust the max-height as needed */
  transition: transform 0.3s ease, filter 0.3s ease;
}

.client-logo img:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
}

/* Services Card - Landing Page */

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  border: 0.5px solid #eb955e;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  /* border: 1px solid #eb955e; */
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
  /* border: 1px solid #eb955e; */
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
  /* border-top: 1px solid #eb955e; */
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
  /* border-bottom: 1px solid #eb955e; */
}

.card__arc path {
  fill: var(--surface-color);
  border-top: 1px solid #eb955e;
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1em;
  margin: 0 0 0.3em;
  color: #6a515e;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "Manrope", sans-serif;
  font-size: 0.8em;
  color: black;
}

.card__status {
  font-size: 0.8em;
  color: black;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: black;
  font-family: "Manrope", sans-serif;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.contact-btn-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Testimonials Section */
.testimonials {
  padding: 30px 16px;
  text-align: center;
  background-color: #ffff;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.testimonial-card {
  background-color: #f2f4f8;
  border-radius: 8px;
  padding: 40px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  flex: 1;
}

.testimonial-content p {
  font-size: 16px;
  color: #21272a;
  margin-bottom: 20px;
}

.stars {
  color: #f0c330;
  margin-bottom: 20px;
}

.stars .fas {
  font-size: 18px;
}

.client-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.client-info .fas {
  font-size: 24px;
  color: #d0d7de;
}

.client-info .client-name {
  font-size: 18px;
  font-weight: bold;
  color: #21272a;
}

/* why choose us section */

.why-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.why-title {
  text-align: center;
  margin-bottom: 40px;
  color: #1e3a8a;
  font-size: 24px;
}
.why-content {
  display: flex;
  align-items: center;
  gap: 20px;
}
.why-left-column {
  flex: 1;
}
.why-left-column img {
  width: 100%;
  border-radius: 10px;
}
.why-right-column {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.why-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.why-card i {
  font-size: 24px;
  color: #eb955e;
  margin-bottom: 10px;
}
.why-card h3 {
  margin: 10px 0;
  color: #1e3a8a;
  font-size: 18px;
}
.why-card p {
  color: #555;
  font-size: 14px;
}

/* Contact Section */
.contact-section {
  padding: 80px 16px;
  text-align: center;
}

.contact-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contact-header h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.contact-buttons {
  display: flex;
  gap: 10px;
}

.phone-number,
.call-us-btn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.contact-buttons .phone-number {
  background-color: #eb955e !important;
  color: #fff;
  padding: 10px 20px !important;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  margin-top: 5px;
}
.contact-buttons .phone-number:hover {
  background: linear-gradient(45deg, #feb47b, #ff7e5f);
}

.contact-buttons .call-us-btn {
  background-color: #eb955e !important;
  color: #fff;
  padding: 10px 20px !important;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  margin-top: 5px;
}

.contact-buttons .call-us-btn:hover {
  background: linear-gradient(45deg, #feb47b, #ff7e5f);
}

.contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}

.contact-image img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

.contact-form {
  max-width: 500px;
  width: 100%;
  text-align: left;
}

.contact-form h3 {
  font-size: 28px;
  margin-bottom: 10px;
}

.contact-form p {
  font-size: 16px;
  margin-bottom: 20px;
}

.contact-form .form-row {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  font-size: 16px;
}

.contact-form input[type="checkbox"] {
  width: auto;
}

.contact-form label {
  margin-left: 10px;
  font-size: 14px;
}

/* .submit-btn {
  background-color: #5d5a88;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
} */

.submit-btn {
  background-color: #eb955e !important;
  color: #fff;
  padding: 10px 20px !important;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  margin-top: 5px;
  border: #eb955e 1px solid;
}

.submit-btn:hover {
  background: linear-gradient(45deg, #feb47b, #ff7e5f);
}

.footer {
  background: linear-gradient(45deg, #feb47b, #ff7e5f);
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  margin-bottom: 20px;
}

.footer-logo {
  max-height: 40px;
}

.footer-nav {
  display: flex;
  gap: 20px;
}

.footer-nav a {
  color: white;
  text-decoration: none;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons .fab {
  font-size: 20px;
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .header,
  .nav,
  .main-content,
  .about-section,
  .services-section,
  .contact-section,
  .footer {
    padding: 20px 10px;
  }
  .main-content {
    flex-direction: column;
  }
  .services-section .service-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .header .logo {
    height: 50px; /* Adjust the height as needed */
  }
  .header .contact-info {
    font-size: 18px;
  }
  .nav {
    font-size: 16px;
  }
  .main-content .text-section h1 {
    font-size: 32px;
  }
  .about-section h2,
  .services-section h2,
  .contact-section h2 {
    font-size: 32px;
  }
  .services-section .service-card {
    width: calc(100% - 20px);
  }

  .testimonials {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .header {
    flex-direction: column;
    text-align: center;
  }
  .nav {
    flex-direction: column;
    gap: 10px;
  }
  .main-content .text-section h1 {
    font-size: 24px;
  }
  .about-section h2,
  .services-section h2,
  .contact-section h2 {
    font-size: 24px;
  }
}
